name: Shopify Lighthouse CI

on: [push]

jobs:
  lhci:
    name: Lighthouse (PF_TESTING)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Lighthouse
        uses: shopify/lighthouse-ci-action@v1
        with:
          access_token: ${{ secrets.APIKEY }}
          store: 'theme3testing.myshopify.com'
          lhci_min_score_accessibility: 0.9
          lhci_min_score_performance: 0.7
          password: 'blackbytt'
